# Ignore all Terraform-related files and directories
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.backup
*.tmp
*.log
.terraformrc
terraform.rc 
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info